<button type="button" id="showDB" class="btn btn-sm btn-outline-secondary my-3" data-bs-toggle="modal"
        data-bs-target="#partFromDB" xmlns:th="http://www.w3.org/1999/xhtml">Wstaw z bazy
</button>

<!-- Modal For showing data from DB -->
<div class="modal fade" id="partFromDB" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--<div th:replace="parts/table"></div>

                static table showing

                -->
                <div id="test"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>

