<div th:replace="layouts/headToTitle"></div>
<title>Wszystkie dostępne przekroje</title>
<div th:replace="layouts/titleToContent"></div>



<h1>Przekroje</h1>
<hr/>
<div class="row g-5">
    <div class="col-lg-3">
        <div class="dropdown">
            <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-plus-circle"></i> Dodaj</i></a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" th:href="@{/materialshapes/newCircularBar}">Pręt okrągły</a>
                <li><a class="dropdown-item" th:href="@{/materialshapes/newRectangularBar}">Pręt prostokątny</a>
                <li><a class="dropdown-item" th:href="@{/materialshapes/newCircular}">Rura okrągła</a></li>
                <li><a class="dropdown-item" th:href="@{/materialshapes/newRectangular}">Rura prostokątna</a></li>
                <li><a class="dropdown-item" th:href="@{/materialshapes/newSpecial}">Profil specjalny</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-9">
        <h3>Istniejące</h3>
        <table th:replace="materialShapes/table"></table>
    </div>
</div>




<div th:replace="layouts/afterContent"></div>
<div th:replace="layouts/scripts"></div>

<script type="text/javascript">


    var tfConfig = {
        alternate_rows: true,
        btn_reset: {
            text: 'Wyczyść filtry'
        },
        rows_counter: {
            text: 'Wpisów: '
        },
        no_results_message: true,
        mark_active_columns: {
            highlight_column: true
        },
        highlight_keywords: true,
        no_results_message: true,
        col_0: 'none',
        col_3: 'none',
        col_types: [
            'number',
            'string',
            'number',
            'none'
        ],
        extensions: [{
            name: 'sort'
        }],
        paging: true,


        /** Bootstrap integration */

        // aligns filter at cell bottom when Bootstrap is enabled
        filters_cell_tag: 'th',

        // allows Bootstrap table styling
        themes: [{
            name: 'transparent'
        }]
    };

    var tf = new TableFilter(document.querySelector('#mainTable'), tfConfig);
    tf.init();
</script>

<div th:replace="layouts/ending"></div>
