<form action="#" th:action="@{/materialshapes/addCircularBar}" th:object="${shape}" method="post"
      xmlns:th="http://www.w3.org/1999/xhtml">
    <input type="text" th:field="*{id}" hidden>
    <div class="form-floating my-3">
        <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Nazwa" readonly>
        <label for="name">Nazwa</label>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>
    <div class="form-floating my-3">
        <input type="number" th:field="*{diameter}" step="0.1" class="form-control" id="diameter"
               placeholder="Średnica [mm]">
        <label for="diameter">Średnica [mm]</label>
        <span th:if="${#fields.hasErrors('diameter')}" th:errors="*{diameter}"></span>
    </div>
    <button type="submit" class="btn btn-outline-success col-12 my-3">Zapisz</button>
    <span th:text="${info}"></span>
</form>