<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nowa rura okrągła</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body class="d-flex flex-column h-100">
<header>
    <nav th:replace="layouts/navbar"></nav>
</header>

<main class="flex-shrink-0 my-5">
    <div class="container">
        <div class="row">
            <h1>Nowa rura okrągła</h1>
            <hr/>
            <div class="col-sm-3">
                <form th:replace="materialShapes/formCircular"></form>
            </div>
        </div>

    </div>
</main>

<footer th:replace="layouts/footer"></footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>