<div th:replace="layouts/headToTitle"></div>
<title>Kontrahenci</title>
<div th:replace="layouts/titleToContent"></div>


<h1>Kontrahenci</h1>
<hr/>
<div class="row g-5">
    <div class="col-lg-3">
        <a class="btn btn-outline-secondary" role="button" th:href="@{/contrahents/new}"><i
                class="bi bi-plus-circle"></i> Dodaj</a>
    </div>
    <div class="col-lg-9">
        <h3>Istniejący</h3>
        <table th:replace="contrahents/table"></table>
    </div>
</div>

<div th:replace="layouts/afterContent"></div>
<div th:replace="layouts/scripts"></div>

<script type="text/javascript">


    var tfConfig = {
        alternate_rows: true,
        btn_reset: {
            text: 'Wyczyść filtry'
        },
        rows_counter: {
            text: 'Wpisów: '
        },
        no_results_message: true,
        mark_active_columns: {
            highlight_column: true
        },
        highlight_keywords: true,
        no_results_message: true,
        col_0: 'none',
        col_4: 'none',
        col_types: [
            'number',
            'string',
            'string',
            'number',
            'none'
        ],
        extensions: [{
            name: 'sort'
        }],
        paging: true,


        /** Bootstrap integration */

        // aligns filter at cell bottom when Bootstrap is enabled
        filters_cell_tag: 'th',

        // allows Bootstrap table styling
        themes: [{
            name: 'transparent'
        }]
    };

    var tf = new TableFilter(document.querySelector('#mainTable'), tfConfig);
    tf.init();
</script>

<div th:replace="layouts/ending"></div>
