<div class="row">
    <div class="col-lg-9" id="nestingDetails">
        <div class="row">
            <div class="col-1">Certyfikat:</div>
            <div class="fw-bold col-11">akjsdhkajshd</div>
            <div class="col-2 offset-2">Część: <span class="fw-bold">123</span></div><div class="col-1"> L= 650</div><div class="col-7"> sztuk 3</div>
            <div class="col-2 offset-2">Część: <span class="fw-bold">234</span></div><div class="col-1"> L= 125</div><div class="col-7"> sztuk 8</div>
        </div>
    </div>



    <div class="col-lg-3">
        <div class="row my-2 bg-success text-dark bg-opacity-10">
            <div class="col-5">Część:</div>
            <div class="fw-bold col-7">ksjdhfksjdfh</div>
            <div class="col-5">Zlecenie:</div>
            <div class="fw-bold col-7">jdhfgkhdf</div>
            <div class="col-5">Klient:</div>
            <div class="fw-bold col-7">djjshdgfkjsgdjf</div>
            <div class="col-5">Ilość zlecona:</div>
            <div class="fw-bold col-7">87</div>
            <div class="col-5">Ilość rozłożona:</div>
            <div class="fw-bold col-7">54</div>
        </div>

        <div class="row row my-2 bg-warning text-dark bg-opacity-10">
            <div class="col-5">Część:</div>
            <div class="fw-bold col-7">ksjdhfksjdfh</div>
            <div class="col-5">Zlecenie:</div>
            <div class="fw-bold col-7">jdhfgkhdf</div>
            <div class="col-5">Klient:</div>
            <div class="fw-bold col-7">djjshdgfkjsgdjf</div>
            <div class="col-5">Ilość zlecona:</div>
            <div class="fw-bold col-7">87</div>
            <div class="col-5">Ilość rozłożona:</div>
            <div class="fw-bold col-7">54</div>
        </div>
    </div>
</div>