<div class="row">
    <div class="col-lg-3">
        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="partDistance" name="partDistance" placeholder="Dystans między częściami [mm]" step = "0.5" min = "0" value="3">
            <label for="partDistance">Dystans między częściami [mm]</label>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="profileMargin" name="profileMargin" placeholder="Margines profilu w [mm]" step = "0.5" min = "0" value="0">
            <label for="profileMargin">Margines profilu w [mm]</label>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="minRemnantLength" name="minRemnantLength" placeholder="Minimalna długość odpadu w [mm]" step = "0.5" min = "0" value="300">
            <label for="minRemnantLength">Minimalna długość odpadu w [mm]</label>
        </div>
    </div>
</div>