<button type="button" id="showPartFromDb" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
        data-bs-target="#partsFromDbModal">
    Dodaj ze zleceń
</button>
<div class="row">
    <table class="table" id="tableWithParts">
        <tr>
            <th>Część</th>
            <th>Ilość</th>
            <th>Zlecenie</th>
            <th>Przekrój</th>
            <th>Długość [mm]</th>
            <th>Materiał</th>
            <th>Akcje</th>
            <th hidden>partId</th>
            <th hidden>itemId</th>
        </tr>
    </table>
</div>
