<button type="button" id="showProfilesFromDb" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
        data-bs-target="#profilesFromDbModal">
    Dodaj z magazynu
</button>
<div class="row">
    <table class="table" id="tableWithProfiles">
        <tr>
            <th>Certyfikat</th>
            <th>Profil</th>
            <th>Materiał</th>
            <th>Długość [mm]</th>
            <th>Ilość</th>
            <th>Ilość dostępna</th>
            <th>Masa sztuki [kg]</th>
            <th>Masa całości [kg]</th>
            <th>Akcje</th>
        </tr>
    </table>
</div>
