<ul class="nav nav-tabs my-3" id="workspaceTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                role="tab" aria-controls="home" aria-selected="true">Rozkład
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="parts-tab" data-bs-toggle="tab" data-bs-target="#parts" type="button"
                role="tab" aria-controls="parts" aria-selected="false">Części
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profiles-tab" data-bs-toggle="tab" data-bs-target="#profiles" type="button"
                role="tab" aria-controls="profiles" aria-selected="false">Materiał wejściowy
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="parameters-tab" data-bs-toggle="tab" data-bs-target="#parameters" type="button"
                role="tab" aria-controls="parameters" aria-selected="false">Parametry
        </button>
    </li>
</ul>
<div class="tab-content" id="workspaceTabsContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"
         th:insert="workspace/nesting">
    </div>
    <div class="tab-pane fade my-3" id="parts" role="tabpanel" aria-labelledby="parts-tab"
         th:insert="workspace/partsTab">
    </div>
    <div class="tab-pane fade" id="profiles" role="tabpanel" aria-labelledby="profiles-tab"
         th:insert="workspace/profilesTab">
    </div>
    <div class="tab-pane fade" id="parameters" role="tabpanel" aria-labelledby="parameters-tab"
         th:insert="workspace/parametersTab">
    </div>
</div>
