body{
    background-image:
        url("../img/diagmonds-light.png"),
        /*linear-gradient(90deg, rgba(6,82,50,1) 0%, rgba(0,0,0,0.5) 10%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%); /* W3C */
          repeating-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(0,0,0,0.4) 92%, rgba(6,82,50,1) 100%); /* W3C */
}


.navbar-brand {
    color: #0E6251 !important;
    font-weight: bold !important;
    font-size: 36px;
}
.navbar{
    background: rgba(0, 0, 0, 0.1);
}
a{
    transition: 0.2s;
    color: #117864 !important;
}
a:hover {
    color: #73C6B6 !important;
    background-color: transparent !important;
    decoration: none !important;
}
h1, h2, h3, h4, h5 {
    color: #0E6251 !important;
}
.text-warning{
    color: #E74C3C !important;
    /*background-color: #FDEDEC;*/

     background: rgb(213,136,126);
    background: radial-gradient(circle, rgba(213,136,126,0.6026611328125) 0%, rgba(198,128,123,0.2) 31%, rgba(255,255,255,0) 61%);


    font-weight: bold;
}
.text-success{
    color: #186A3B !important;
    /*background-color: #ABEBC6;*/

    background: rgb(7,156,93);
    background: radial-gradient(circle, rgba(7,156,93,0.4) 0%, rgba(37,115,41,0.2) 21%, rgba(255,255,255,0) 61%);


    font-weight: bold;
}

.footer{
    background-color: transparent !important;
}

#workspaceTabs li button {
    border-color: #0E6251;
    background-color: transparent;
    color: #0E6251;
    transition: width 1s;
}

#workspaceTabs li button:hover {
    border-color: #0E6251;
    background-color: transparent;
    color: #73C6B6;
}

.nav-tabs {
    border-bottom: 1px solid #0E6251;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    font-weight: bold;
}