<div th:replace="layouts/headToTitle"></div>
<title>OpenProfWarehouse</title>
<div th:replace="layouts/stylesheets"></div>

<div th:replace="layouts/titleToContent"></div>
        Strona główna aplikacji

        <div th:replace="layouts/afterContent"></div>
        <div th:replace="layouts/scripts"></div>

        <script type="text/javascript">


    var tfConfig = {
        alternate_rows: true,
        btn_reset: {
            text: 'Wyczyść filtry'
        },
        rows_counter: {
            text: 'Wpisów: '
        },
        no_results_message: true,
        mark_active_columns: {
            highlight_column: true
        },
        highlight_keywords: true,
        no_results_message: true,
        col_0: 'none',
        col_4: 'none',
        col_types: [
            'number',
            'string',
            'string',
            'number',
            'none'
        ],
        extensions: [{
            name: 'sort'
        }],
        paging: true,


        /** Bootstrap integration */

        // aligns filter at cell bottom when Bootstrap is enabled
        filters_cell_tag: 'th',

        // allows Bootstrap table styling
        themes: [{
            name: 'transparent'
        }]
    };

    var tf = new TableFilter(document.querySelector('#mainTable'), tfConfig);
    tf.init();

        </script>

        <div th:replace="layouts/ending"></div>