<div th:replace="layouts/headToTitle"></div>
<title>Wszystkie gatunki materiałów</title>
<div th:replace="layouts/titleToContent"></div>


<h1>Gatunki materiałów</h1>
<hr/>
<div class="row g-5">
    <div class="col-lg-3">
        <a class="btn btn-outline-secondary" role="button" th:href="@{/materialgrades/new}"><i
                class="bi bi-plus-circle"></i> Dodaj</a>
    </div>
    <div class="col-lg-9">
        <h3>Istniejące</h3>
        <table th:replace="materialGrades/table"></table>
    </div>
</div>

<div th:replace="layouts/afterContent"></div>