<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Wszystkie gatunki materiałów</title>
    <div th:replace="layouts/stylesheets"></div>
</head>
<body class="d-flex flex-column h-100">
<header>
    <nav th:replace="layouts/navbar"></nav>
</header>

<main class="flex-shrink-0 my-5">
    <div class="container">
        <h1>Gatunki materiałów</h1>
        <hr/>
        <div class="row g-5">
            <div class="col-lg-3">
                <a class="btn btn-outline-secondary" role="button" th:href="@{/materialgrades/new}"><i class="bi bi-plus-circle"></i> Dodaj</a>
            </div>
            <div class="col-lg-9">
                <h3>Istniejące</h3>
                <table th:replace="materialGrades/table"></table>
            </div>
        </div>
    </div>
</main>

<footer th:replace="layouts/footer"></footer>

<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>