<div th:replace="layouts/headToTitle"></div>
<title>Stan magazynowy</title>
<div th:replace="layouts/titleToContent"></div>


<h1>Stan magazynowy</h1>
<hr/>
<div class="my-4">
    <a class="btn btn-outline-secondary" role="button" th:href="@{/materialstock/new}"><i class="bi bi-plus-circle"></i>
        Wprowadź na magazyn</a>
</div>
<div class="row g-5">
    <div class="col-lg-12">
        <table th:replace="materialStock/table"></table>
    </div>
</div>

<div th:replace="layouts/afterContent"></div>
<div th:replace="layouts/scripts"></div>

<script type="text/javascript">


    var tfConfig = {
        alternate_rows: true,
        btn_reset: {
            text: 'Wyczyść filtry'
        },
        rows_counter: {
            text: 'Wpisów: '
        },
        no_results_message: true,
        mark_active_columns: {
            highlight_column: true
        },
        highlight_keywords: true,
        no_results_message: true,
        col_7: 'none',
        col_6: 'multiple',
        col_types: [
            'string',
            'string',
            'string',
            'number',
            'number',
            'number',
            'string',
            'none'
        ],
        extensions: [{
            name: 'sort'
        }],
        paging: true,


        /** Bootstrap integration */

        // aligns filter at cell bottom when Bootstrap is enabled
        filters_cell_tag: 'th',

        // allows Bootstrap table styling
        themes: [{
            name: 'transparent'
        }]
    };

    var tf = new TableFilter(document.querySelector('#mainTable'), tfConfig);
    tf.init();






</script>

<div th:replace="layouts/ending"></div>
